body{
    margin: 0px;
}

/* TITULO + BUSQUEDA CABECERA */
#bloque_h { /* Caja que tiene la zona roja y la caja de enlaces de la cabecera */
    
    margin-left: 14%;
    width: 1350px;
    min-width: 800px;
}

/* CAJA ROJA */
#caja_roja{

    margin:0;
    height: 80px;
    background-color: #8C1515;
    width: 1350px;
    
}

/* TITULO UNIVERSIDAD GRANADA */
#caja_roja #titulo_header{

    float: left;
    color : white;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 20px;
}

/* MENU BUSQUEDA WEB/PERSONAS */
#caja_roja .botones_busqueda{
    
    font-size: 13px;
    float: right;
    margin-top: 1.5%;
    margin-right: 3.5%;
    color: white;
}

/* FIN CAJA ROJA */


/* CAJA ENLACES */

#caja_enlaces{
    
    height: 30px;
    width: 1350px;
    background: #F2F1EB;

}

/*Enlaces izq header gris*/
#p1{
    
    height: 30px;
    width: 70%;
    float: left;
    padding-left: 25px;

}

/* Enlaces der header gris*/
#p2{
    width: 25%;
    height: 30px;
    float: right;
    margin-right: 25px;
    
}

div.search{
    
    padding-right: 25px;
    float: left;
}

.botones_busqueda button.glass{
    
    float:left;
    margin-left: -55px;
    margin-top: 5px;
    display:inline;
    height: 20px;
    width: 20px;
    border: none;
    background: url(img/glass2.png);
    
    
}
.botones_busqueda img {
    
    position: relative;
    height: 15px;
    width: 15px;
}

header #caja_enlaces ul {
    
    margin:0;
    border:0;
    list-style-type: none; /* Eliminar puntos de la lista*/
}

header #caja_enlaces ul li{ 
    /* Mostrar en una linea todos los elementos li */
    display: inline;
    padding-right: .2em;
    padding-left: .2em;
}

header #caja_enlaces ul li a {
    text-decoration: none;
    border-bottom: 2px solid #F2F1EB;
}

header #caja_enlaces #p1 ul li a{
    
    margin-top: 0px;
    font-family: cursive;
    font-size: 15px;
    color: gray;
    
    
}

#caja_enlaces #p2 ul li a{
    
    font-size: 11px;
    color:darkslategray;
}

#caja_enlaces ul li a#actual{
    border-bottom-color: #8C1515;

}

header #caja_enlaces ul li a:link {
    color: black;
}


#caja_enlaces ul li a:visited {
    color: black;
}
/* FIN LISTAS HORIZONTALES */ 

/* CUERPO */
#cuerpo {
    margin-left: 14%;
    width: 1350px;
    height: 1250px;
    min-width: 800px;
    background-color: #FCFCFC;
}

/* TITULO CUERPO */
#cuerpo #titulo_cuerpo {
    margin-left:5%;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-top:0px;
    font-size: 45px;
    font-family: cursive ; 
    color:gray;
}

/* TEXTO INTRO CUERPO */
#cuerpo #texto_intro{
    
    margin-left: 70px;
    color: gray;
    font-family: cursive;
    
}
#cuerpo article {
    
    float:left;
    width: 780px;
}

/* SECTION */


section {
    width: 630px;
    height: auto;
    min-height: 200px;
    max-height: 350px;
    margin-left: 70px;
    margin-bottom: 10px;
}


/* Caja izq con la imagen*/
section div.imagen {
    
    height: inherit;
 
    width: 30%;
    float:left;
}
/* Caja derecha con texto y listas*/
section div.texto{
    width: 70%;
    height: inherit;
    float: left;
}

img.bullets{
    
    height: 15px;
    width: 15px;
    display: inline;
}

/* Modificar el padding left inicial*/
section ul {
    
    padding-left: 0px;
}

section ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}
  
section ul li a {
    text-decoration: none;
    color: #43423E;
    font-style: italic;
    font-family:cursive;
    font-size: 14px;
    
}

.ul_izq, .ul_der{
    
    float:left;
}

section p.titulo{
    
    color: #932625;
    font-style: italic;
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 0px;
    
}

p.des{
    
    color: gray;
    font-style: italic;
    font-family: cursive;
    font-size: 13px;
    margin-top: 5px;
}


section div.imagen img {

    height: 150px;
    width: 150px;
    margin-top:20px;

}


/* ASIDE */

#cuerpo aside{
    float:right;
    margin-top: 20px;
    width: 40%;
}

aside img {
    
    height: 310px;
    margin-bottom: 20px;
}

/* UGR EN CIFRAS */

#cifras {
    border-radius: 10px;
    width: 88%;
    height: 450px;
    background-color: #F2F1EB;
    font-family: cursive;
    font-style: italic;
    color: gray;
    
}

#cifras .titulo{
    
    color: #932625;
}


div.contenido ul{
    
    list-style: square;
}

#contenido {
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 88%;
}

/*APRENDE MÁS*/

div#aprende_mas{
    
    float:right;
    margin:0;
    
}

#aprende_mas a {
    
    text-decoration: none;
    
}
#aprende_mas a:visited{
    
    color:darkslategray;
}

#aprende_mas a:link{
    
    color:darkslategray;
}

#aprende_mas img{
    

    height: 20px;
    width: 26px;
    float: left;
}
/* VER TAMBIEN */

#ver_tambien{
    
    width: 88%;
    height: 200px;  
}

#ver_tambien img{
    
    width: 95px;
    height: 80px;
    margin-top: 30px;
    margin-left: 20px;
}

#ver_tambien #ver_izq{
    float:left;
    width: 30%;
    height: 200px;
}

#ver_tambien #ver_der{
    
    float:left;
    width: 70%;
    height: 200px;
}

#ver_tambien ul {
    margin-top: 35px;
    list-style: none;
    padding: 0px;
}
#ver_tambien #v1{
    
    font-family: cursive;
    font-style: italic;
    margin: 0px;

}
#ver_tambien li {
    
    font-family: cursive;
    font-style: italic;
}

#ver_tambien #v1{
    
    color: brown; 
    margin-bottom: 15px;
}

#ver_tambien #c1 a{
    text-decoration: none;
    color: darkslategray;
}
#ver_tambien #c1 {
    margin-bottom: 10px;
}

#ver_tambien #i1{
    
    color:gray;
}
/* FOOTER */

footer #footer_gris{
    margin-top:0px;
    margin-left: 14%;
    height: 350px;
    width: 1350px;
    background-color: #F2F1EB;
    font-family: cursive;
    font-style: italic;
}

footer #footer_rojo{
    
    margin-left: 14%;
    height: 100px;
    width: 1350px;
    background-color: #932625;
}

/* LISTAS ZONA GRIS */ 
footer #listas div.contenedores {
    margin-top: 2%;
    float: left;
    width: 16%;
}

#listas div#l1{
    
    margin-left: 3%;    
}

#listas div ul {
    
    list-style-type: none;
}

#listas div ul li {
    
    margin-bottom: 1%;   
    
}

footer div#listas div ul li a {
    
    font-size: 13px;
    color: #686159;
    text-decoration: none;
}

#listas div ul li a.primera{
    
    color: #932625;
    text-decoration: none;
    font-weight: bold;
} 

/* BOTONES FOOTER GRIS */ 
#iconos .caja_gris a{
    
    text-decoration: none;   
}

/* Eliminar padding izquierdo original*/
#iconos ul {
    
    padding-left: 10px;
    
}

#iconos ul li button {
    
    margin-bottom: 7px;
    border: none;
    height: 45px;
    width: 160px;
    background-color: #D5D0C0;
    border-radius: 5px;
    font-style: italic;
    font-size: 17px;
}

img.icono{
    
    float: left;
    height: 20px;
    width: 20px;
    display: inline;
}

button div {

    height: 45px;
    width: 160px;
    
}
button div p {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 115px;
}
button div img {
    
    margin-top: 0px;
    margin-left: 10px;
}

#iconos a:visited, #iconos a:link{
    
    color: #686159;
}

/* FOOTER ROJO */ 

#footer_rojo #div_izq {
    
    float:left;
    color:white;  
    height: 100px;
    width: 25%;
}

#footer_rojo div#div_izq p {
    
    margin-left: 150px;
    margin-top: 30px;
}

/* Tocamos el span para mover hacia la izquierda 
   la parte Granada de Universidad de Granada */
#footer_rojo #div_izq p span {
    
    margin-left: 25px;
}

#footer_rojo #div_der{
    
    color: white;
    float: left;
    height: 100px;
    width: 70%;
    font-family: cursive;
    font-style: italic;
}

/* Parte izquierda UNIVERSIDAD GRANADA */
#footer_rojo #div_der ul {
    
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

#footer_rojo #div_der ul li {
    display: inline;    
    margin-right: 15px;
}

#footer_rojo #div_der ul li a{
    
    color: white;
    text-decoration: none;
    
}

#footer_rojo #div_der ul {
    border-bottom: 0px;
}

#footer_rojo #div_der p{
    
    margin-top: 5px;
    font-size: 13px;
}
    
    

    
    
    
    
    
    
    
    
    
    