/* TITULO + BUSQUEDA CABECERA */
#bloque_h { /* Caja que tiene la zona roja y la caja de enlaces de la cabecera */
    margin-top:0;
    margin-left: 14%;
    width: 1200px;
    min-width: 800px;
}

/* CAJA ROJA */
#caja_roja{

    margin:0;
    height: 80px;
    background-color: #8C1515;
    width: 1200px;
    
}

/* TITULO UNIVERSIDAD GRANADA */
#caja_roja #titulo_header{

    float: left;
    color : white;
    font-size: 30px;
    margin-left: 4%;
    margin-top: 20px;
}

/* MENU BUSQUEDA WEB/PERSONAS */
#caja_roja .botones_busqueda{
    
    float: right;
    margin-top: 1.5%;
    margin-right: 5%;
    color: white;
}

/* FIN CAJA ROJA */


/* CAJA ENLACES */

#caja_enlaces{
    
    position: absolute;
    height: 30px;
    width: 1200px;
    background: #F2F1EB;

}

#p1{
    height: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#p2{
    height: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 55px;
}
header #caja_enlaces ul {
    
    margin:0;
    border:0;
    list-style-type: none; /* Eliminar puntos de la lista*/
}

header #caja_enlaces ul li{ 
    /* Mostrar en una linea todos los elementos li */
    display: inline;
    padding-right: .2em;
    padding-left: .2em;
}

header #caja_enlaces ul li a {
    text-decoration: none;
    border-bottom: 2px solid #F2F1EB;
}

header #caja_enlaces #p1 ul li a{
    
    margin-top: 0px;
    font-family: serif;
    font-size: 15px;
    
}

#caja_enlaces #p2 ul li a{
    
    font-size: 10px;
}

#caja_enlaces ul li a#actual{
    border-bottom-color: #8C1515;

}

header #caja_enlaces ul li a:link {
    color: black;
}


#caja_enlaces ul li a:visited {
    color: black;
}
/* FIN LISTAS HORIZONTALES */ 

/* CUERPO */
#cuerpo {
    border: 1px solid blue;
    margin-left: 14%;
    width: 1200px;
    height: 1600px;
    min-width: 800px;
}

/* TITULO CUERPO */
#cuerpo #titulo_cuerpo {
    margin-left:4%;
    margin-top: 50px;
    font-size: 35px;
    font-family: serif;    
}

/* TEXTO INTRO CUERPO */
#cuerpo #texto_intro{
    
    margin-left: 50px;
    margin-top: 2px;
    
}
#cuerpo article {
    
    float:left;
    width: 680px;
}

/* SECTION */
section {
    background-color: aqua;
    border: .5px solid blue;
    width: 630px;
    height: 300px;
    margin-left: 50px;
    margin-bottom: 1px;
}

section img {

    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

section div.texto{
    width: 70%;
    height: 300px;
    float: right;
}

/* ASIDE */

#cuerpo aside{
    float:right;
    width: 40%;

}

aside img {
    
    height: 280px;
}

#cifras .titulo {
    
    color: #932625;
    
}

#cifras {
    border-radius: 25px;
    width: 88%;
    background-color: #F2F1EB;
}

#contenido {
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80%;
}


/* VER TAMBIEN */

div#ver {
        
    height: 200px;
    width: 88%;
    background-color: antiquewhite;
}

div#ver p {
    
}

/* FOOTER */

footer #footer_gris{
    margin-top:0px;
    margin-left: 14%;
    height: 350px;
    width: 1200px;
    background-color: #F2F1EB;
}

footer #footer_rojo{
    
    margin-left: 14%;
    height: 100px;
    width: 1200px;
    background-color: #932625;
}

/* LISTAS ZONA GRIS */ 
footer #listas div.contenedores {
    
    margin-top: 2%;
    float: left;
    width: 15%;
    border: 1px solid black;
}

#listas div#l1{
    
    margin-left: 3%;    
}

#listas div ul {
    
    list-style-type: none;
}

#listas div ul li {
    
    padding-bottom: 2%;   
    
}

#listas div ul li a {
    
    font-size: 12px;
    color: #686159;
    text-decoration: none;
}

#listas div ul li a.primera{
    
    color: #932625;
    text-decoration: none;
}


    

/* ICONOS FOOTER GRIS */ 

.contenedores div.caja_gris{
    
    border-radius: 5px;
    background: #D5D0C0;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 130px;
    height: 35px;   
}
#iconos div p {
    
    margin-left: 30px;
    position: relative;
}

#c


/* FOOTER ROJO */ 

#footer_rojo #div_izq {
    
    
    margin-left: 8%;
    margin-top:1%;
    float:left;
    color:white;    
}

#footer_rojo #div_der{
    
    color: white;
    float: left;
    margin-left: 5%;
}

#footer_rojo #div_der ul {
    padding-left: 0px;
    list-style-type: none;
}

#footer_rojo #div_der ul li {
    display: inline;    
    padding-right: 5px; 
}

#footer_rojo #div_der ul li a{
    
    text-decoration: none;
    color: white;
}

#footer_rojo #div_der ul {
    border-bottom: 0px;
}
    
    

    
    
    
    
    
    
    
    
    
    