/* TITULO + BUSQUEDA CABECERA */
#bloque_h { /* Caja que tiene la zona roja y la caja de enlaces de la cabecera */
    margin-top:0;
    margin-left: 14%;
    width: 1200px;
    min-width: 800px;
}

/* CAJA ROJA */
#caja_roja{

    margin:0;
    height: 80px;
    background-color: #8C1515;
    width: 1200px;
    
}

/* TITULO UNIVERSIDAD GRANADA */
#caja_roja #titulo_header{

    float: left;
    color : white;
    font-size: 30px;
    margin-left: 4%;
    margin-top: 20px;
}

/* MENU BUSQUEDA WEB/PERSONAS */
#caja_roja .botones_busqueda{
    
    float: right;
    margin-top: 1.5%;
    margin-right: 5%;
    color: white;
}

/* FIN CAJA ROJA */


/* CAJA ENLACES */

#caja_enlaces{
    
    position: absolute;
    height: 30px;
    width: 1200px;
    background: #F2F1EB;

}

#p1{
    height: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#p2{
    height: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 55px;
}
#caja_enlaces ul {
    
    margin:0;
    border:0;
    list-style-type: none; /* Eliminar puntos de la lista*/
}

#caja_enlaces ul li{ 
    /* Mostrar en una linea todos los elementos li */
    display: inline;
    padding-right: .2em;
    padding-left: .2em;
}

#caja_enlaces ul li a {
    text-decoration: none;
    border-bottom: 2px solid #F2F1EB;
}

#caja_enlaces #p1 ul li a{
    
    margin-top: 0px;
    font-family: serif;
    font-size: 15px;
    
}

#caja_enlaces #p2 ul li a{
    
    font-size: 10px;
}

#caja_enlaces ul li a#actual{
    border-bottom-color: #8C1515;

}

#caja_enlaces ul li a:link {
    color: black;
}


#caja_enlaces ul li a:visited {
    color: black;
}
/* FIN LISTAS HORIZONTALES */ 

/* CUERPO */
#cuerpo {
    border: 1px solid blue;
    margin-left: 14%;
    width: 1200px;
    height: 2000px;
    min-width: 800px;
}

/* TITULO CUERPO */
#cuerpo #titulo_cuerpo {
    margin-left:4%;
    margin-top: 50px;
    font-size: 35px;
    font-family: serif;    
}

/* TEXTO INTRO CUERPO */
#cuerpo #texto_intro{
    
    margin-left: 50px;
    margin-top: 2px;
    
}
#cuerpo article {
    
    float:left;
    width: 680px;
}

/* SECTION */
section {
    border: 1px solid blue;
    width: 630px;
    height: auto;
    margin-left: 50px;
}

section img {

    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

section div.texto{
    width: 70%;
    float: right;
}

/* ASIDE */

#cuerpo aside{
    float:right;
    width: 40%;

}

/* FOOTER */

footer{
    height: 700px;
}


#listas div ul{
    
    margin:0;
    border:0;
    list-style-type: none;
}
    
#listas div{
    margin-bottom: 20px;
    margin-top: 10px;
}